<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head"/>
<body>
<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>

<div class="container">
  <h2 th:text="#{home.admin.logs.title}"></h2>
  <p th:text="#{home.admin.logs.subtitle}"></p>

  <div class="container">
    <p>Filtrar por tipo:</p>
    <select class="form-control" id="filterType" name="filterType">
      <option value="">Todos</option>
      <option value="PET">PET</option>
      <option value="ALTA">ALTA</option>
      <option value="LOGIN_EX">LOGIN-EX</option>
      <option value="LOGIN_ERR">LOGIN-ERR</option>
      <option value="LOGOUT">LOGOUT</option>
    </select>
  </div>
  <script>$(function() {
      $('#filterType').change(function(e) {
          let filter = e.target.value;
          if (filter)
              $("#tableLogs").load(`/logs/list/update?type=${filter}`);
          else
              $("#tableLogs").load(`/logs/list/update`);
      });
  });</script>
  <div class="table-responsive" >
    <table th:replace="fragments/logsTable" id="tableLogs"/>
  </div>
  <div th:if="${#lists.isEmpty(logsList)}" th:text="#{home.admin.logs.nologs}"></div>
  <div class="text-center">
    <a href="/logs/delete" class="btn btn-danger" th:text="#{home.admin.logs.button}">
    </a>
  </div>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>