<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">


<form form class="form-horizontal" method="post" action="/user/logs">
    <div class="container">
        <h2 th:text="#{home.admin.logs.title}"></h2>
        <p th:text="#{home.admin.logs.subtitle}"></p>

       <div class="container">
           <p>Filtrar por tipo:</p>
        <select id="filterType" name="filterType">
            <option value="">Todos</option>
            <option value="info">PET</option>
            <option value="info">ALTA</option>
            <option value="error">LOGIN-EX</option>
            <option value="warning">LOGIN-ERR</option>
            <option value="warning">LOGOUT</option>
        </select>
       </div>
        <script>$(function() {
            $('#filterType').change(function() {
                var filter = $(this).val();
                if (filter) {
                    $('table tr').hide();
                    $('table tr[data-type="' + filter + '"]').show();
                } else {
                    $('table tr').show();
                }
            });
        });</script>
        <div class="table-responsive" >
            <table class="table table-hover" th:fragment="tableLogs" id="tableLogs">
                <thead>
                <tr>
                    <th scope="col" th:text="#{home.admin.logs.date}"></th>
                    <th scope="col" th:text="#{home.admin.logs.type}"></th>
                    <th scope="col" th:text="#{home.admin.logs.description}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="log : ${logsList}" th:attr="data-type=${log.type}">
                    <td scope="row" th:text="${log.timestamp}"></td>
                    <td scope="row" th:text="${log.type}"></td>
                    <td scope="row" th:text="${log.description}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${#lists.isEmpty(logsList)}" th:text="#{home.admin.logs.nologs}"></div>
        <div class="text-center">
            <button type="submit" id="deleteButton" class="btn btn-danger"
                    th:text="#{home.admin.logs.button}"></button>

        </div>
    </div>
</form>
</html>