<!-- nav.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extrasspringsecurity4">
  <a class="navbar-brand" href="/">
    <img th:src="@{/images/mywallapop_logo.png}" height="50" alt="Logo MyWallapop">
    <span>MyWallapop</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar"
          aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="marksDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" th:text="#{nav.offers}"></a>
        <div class="dropdown-menu" aria-labelledby="marksDropdown">
          <a class="dropdown-item" href="/offer/bought" th:text="#{nav.offers.bought}"></a>
          <a class="dropdown-item" href="/offer/my-offers" th:text="#{nav.offers.list}"></a>
          <a class="dropdown-item" href="/offer/new" th:text="#{nav.offers.new}">></a>
        </div>
      </li>
      <li class="nav-item dropdown active" sec:authorize="hasRole('ROLE_ADMIN')">
        <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" th:text="#{nav.users}"></a>
        <div class="dropdown-menu" aria-labelledby="usersDropdown">
          <a class="dropdown-item" href="/user/list" th:text="#{nav.users.list}"></a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto justify-content-end">
      <li class="nav-item" sec:authorize="!isAuthenticated()" >
        <a class="nav-link" href="/login">
          <i class='fas fa-sign-in-alt' style='font-size:16px'></i>
          <span th:text="#{nav.login}"></span>
        </a>
      </li>
      <li class="nav-item" sec:authorize="!isAuthenticated()">
        <a class="nav-link" href="/signup" >
          <i class='fas fa-user-alt' style='font-size:16px'></i>
          <span th:text="#{nav.register}"></span>
        </a>
      </li>
      <li sec:authorize="isAuthenticated()" class="nav-item">
        <a class="nav-link" href="/logout">
          <i class='fas fa-sign-out-alt' style='font-size:16px'></i>
          <span th:text="#{nav.logout}"></span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="btnLanguage" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          <span th:text="#{nav.language.change}"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" id="languageDropdownMenuButton" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" id="btnEnglish" value="EN">
            <img th:src="@{/images/if_uk_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
            <span th:text="#{nav.language.en}"></span>
          </a>
          <a class="dropdown-item" id="btnSpanish" value="ES">
            <img th:src="@{/images/if_spain_flag.png}" style="border: 0; float: left; margin-right: 15px"/>
            <span th:text="#{nav.language.es}"></span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>