<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container">
    <h2>Usuarios</h2>
    <p>Los usuarios que actualmente figuran en el sistema son los
        siguientes:</p>
    <!-- <button type="button" id="updateButton" class="btn btn-primary">Actualizar</button>
     <script>
         $( "#updateButton" ).click(function() {
             $("#tableUsers").load('/user/list/update');
         });
     </script>-->
    <div class="table-responsive">
        <table class="table table-hover" th:fragment="tableUsers" id="tableUsers">
            <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Seleccionar</th>
                <th scope="col"></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${usersList}">
                <td scope="row" th:text="${user.email}">email</td>
                <td scope="row" th:text="${user.name}">Nombre</td>
                <td scope="row" th:text="${user.lastname}">Apellidos</td>
                <td th:if="${user.email != 'admin@email.com'}">
                    <input type="checkbox" name="selectedUsers" th:value="${user.id}">
                </td>
                <td th:unless="${user.email != 'admin@email.com'}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(usersList)}"> No users </div>
    <div class="text-center">
        <button type="button" id="deleteButton" class="btn btn-primary">Eliminar seleccionados</button>
        <script>
            $(document).ready(function() {
            $('#deleteButton').click(function() {
                var selectedIds = $('input[name=selectedUsers]:checked').map(function() {
                    return $(this).val();
                }).get();
                console.log('selectedIds',selectedIds);
                if (selectedIds.length > 0) {
                    $.post('/home', {selectedUsers: selectedIds}, function() {
                        location.reload();
                    });
                }
            });
        });
        </script>
    </div>
</div>
