<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
  <nav th:replace="fragments/nav"/>

  <div class="d-flex align-items-center justify-content-center">
    <div class="text-center">
      <h1 class="display-1 fw-bold">403</h1>
      <p class="fs-3"> <span class="text-danger">Ey!</span> No puedes entrar aqui.</p>
      <p class="lead">
        No tienes permitido el acceso a esta página.
      </p>
      <a href="/" class="btn btn-primary">Vuelve al inicio</a>
    </div>
  </div>

  <footer th:replace="fragments/footer"/>
</body>
</html>