<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
  <nav th:replace="fragments/nav"/>

  <div class="d-flex align-items-center justify-content-center">
    <div class="text-center">
      <h1 class="display-1 fw-bold">404</h1>
      <p class="fs-3" th:text="#{error.notfound.subtitle}"><span class="text-danger" th:text="#{error.notfound.title}"></span></p>
      <p class="lead" th:text="#{error.notfound.text}"></p>
      <a href="/" class="btn btn-primary" th:text="#{error.common.back}"></a>
    </div>
  </div>

  <footer th:replace="fragments/footer"/>
</body>
</html>