<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head">
<body>
  <nav th:replace="fragments/nav"/>
  <div class="container" sec:authorize="!isAuthenticated()">
      <h2 th:text="#{home.common.welcome}"></h2>
      <p th:text="#{home.common.subtitle}"></p>
  </div>
  <div sec:authorize="hasRole('ROLE_USER')" th:replace="fragments/offersTable" />
  <div sec:authorize="hasRole('ROLE_ADMIN')" th:replace="fragments/usersTable" />
  <footer th:replace="fragments/footer"/>
</body>
</html>