<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
  <nav th:replace="fragments/nav"/>

  <div th:if="${offer != null}" class="container" id="main-container">
    <div class="row justify-content-md-center mt-2">
      <!-- Imagenes -->
      <div class="col">
        <div class="card">
          <img th:src="@{'/' + ${offer.imgPath != null ? offer.imgPath : 'images/defaultImg.jpg'}}" class="d-block w-100" alt="...">
          <div class="card-body">
            <pre class="card-text" th:text="${offer.details}"></pre>
          </div>
        </div>
      </div>
      <div class="col col-lg-5">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" th:text="${offer.title}"></h4>
          </div>
          <div class="card-body">
            <p class="card-text" th:text="${offer.price + ' €'}"></p>
            <p class="card-text" th:text="#{${offer.state}}"></p>
          </div>
          <div class="card-body" th:if="${offer.state.name() == 'AVAILABLE'}">
            <a class="card-link btn btn-primary" href="#" th:text="#{offer.talk_to_seller}"></a>
            <a class="card-link btn btn-primary " href="#" th:text="#{offer.buy}"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:if="${offer == null}" class="d-flex align-items-center justify-content-center">
      <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Vaya!</span> Oferta no encontrada.</p>
        <p class="lead">
          No hemos podido encontrar la oferta que buscas.
        </p>
        <a href="/" class="btn btn-primary">Vuelve al inicio</a>
      </div>
  </div>

  <footer th:replace="fragments/footer"/>
</body>
</html>