<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
  <nav th:replace="fragments/nav"/>

  <div th:if="${offer != null}" class="container" id="main-container">

  </div>

  <div th:if="${offer == null}" class="d-flex align-items-center justify-content-center">
      <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Vaya!</span> Oferta no encontrada.</p>
        <p class="lead">
          No hemos podido encontrar la oferta que buscas.
        </p>
        <a href="/" class="btn btn-primary">Vuelve al inicio</a>
      </div>
  </div>

  <footer th:replace="fragments/footer"/>
</body>
</html>