<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
  <nav th:replace="fragments/nav"/>

  <div class="container" id="main-container">
    <h2>Mis ofertas</h2>
    <p>Estas son las ofertas que has publicado:</p>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Fecha</th>
          <th scope="col">Estado</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer : ${offerList}">
          <td scope="row" th:text="${offer.title}"></td>
          <td th:text="${offer.price + ' €'}"></td>
          <td th:text="${#temporals.format(offer.date, 'dd-MM-yyyy HH:mm')}"></td>
          <td th:text="#{${offer.state}}"></td>
          <td><a th:href="${'/offer/' + offer.id}" >Detalles</a></td>
          <td><a th:href="${'/offer/delete/' + offer.id }" >Eliminar</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div th:if="${#lists.isEmpty(offerList)}"> No hay ofertas </div>
  </div>

  <footer th:replace="fragments/footer"/>
</body>
</html>